.hero-container {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  overflow: hidden;
  position: relative;
}
.hero-container-2 {
  height: 100%;
  padding: var(--paddingCenter);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.hero-first {
  flex: 1;
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
}
.hero-second {
  flex: 1;
  opacity: 0;
}
.hero-div-image {
  margin: auto;
  max-width: 550px;
  min-width: 350px;
  flex: 1;
}
.hero-image {
  scale: 0.01;
}
.hero-aside {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  color: var(--color-white);
  margin: auto;
  max-width: 400px;
  min-width: 300px;
}
.hero-h1 {
  text-align: center;
  font-weight: bold;
  font-size: var(--h1size);
  transform: translateX(1000px);
}
.hero-aside p {
  text-align: right;
  font-size: var(--fontSizep);
  transform: translateX(1000px);
}
.hero-download-btn {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.logo {
  flex: 1;
  opacity: 0;
}
.hero-aside-div {
  margin: 1rem;
}

.hero-hr {
  transform: translateX(1000px);
}
