.mockup-container {
  padding: 8% 8%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  color: var(--color-white);
}
.mockup-container img {
  margin: auto;
}
.mockup-image {
  padding: var(--paddingCenter);
}
