@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000000;
  --color-brown: #291414e5;
  --color-white: #fff;
  --paddingBodyCenter: 0 8% 0 8%;
  --paddingCenter: 5% 5%;
  --color--dorado-inicial: #ffd700;
  --color--dorado-final: #b8860b;
  --h2size: 3rem;
  --h1size: 4rem;
  --fontSizep: 1.5vw;
}
@font-face {
  font-family: "baron-neue";
  src: url(../app//assets/baron-neue-cdnfonts/Baron\ Neue.otf);
}
* {
  font-family: "baron-neue";
  scroll-behavior: smooth;
}
/* main {
  background-color: var(--color-black);
} */
@media only screen and (max-width: 600px) {
  :root {
    --h2size: 1.5rem;
    --h1size: 3rem;
    --fontSizep: 1rem;
  }
}
